body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  /* margin-left: 0;
  margin-right: 0; */
}

.section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-bottom: 96px;
  padding-top: 96px;
}

/* input {
  margin: 0;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 72px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  margin-left: 0 auto;
}

/* .hero {
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
} */

.hero-main > .container {
  padding: 0px 52px;
}

.hero-main {
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}

@media screen and(min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (webkit-min-device-pixel-ration: 2) {
  .hero-main {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}

.navigation-links-list {
  display: none;
  gap: 40px;
}

.address-wrap {
  display: flex;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-wrap {
  display: flex;
  align-items: center;
  padding: 16px;
}

.header-logo {
  margin-right: 76px;
}

.container {
  /* width: 1158px;
  padding-left: 15px;
  padding-right: 15px; */
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
} */
.logo2 {
  color: #2e2f42;
}
.link-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}

.link-logo-footer {
  margin-bottom: 16px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* margin-right: 76px; */
  display: block;
  text-align: center;
}

.logo2:active {
  color: #404bbf;
  text-decoration: underline;
}

.logo2:hover,
.logo2:focus {
  color: #404bbf;
}

.footer-logo:active {
  color: #404bbf;
  text-decoration: underline;
}

.footer-logo:hover,
.footer-logo:focus {
  color: #404bbf;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.studio-link::after {
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
  display: flex;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.nav-links-items {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links-items.studio-link {
  color: #404bbf;
}

.nav-links-items:focus,
.nav-links-items:hover {
  color: #404bbf;
}

.address {
  display: none;
  gap: 40px;
}

.address-list {
  font-style: normal;
}

/* .address-items {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
} */

.address-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:focus,
.address-link:hover {
  color: #404bbf;
}

.header-one {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
}

.hero-btn-main:focus,
.hero-btn-main:hover {
  background: #404bbf;
}

.hero-btn-main {
  display: block;
  background: #4d5ae5;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  padding: 24px 32px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.icon-wrap {
  display: flex;
  border-radius: 4px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  width: 264px;
  height: 112px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  display: none;
}

/* .solutions-icon {
  fill: ;
} */

.solutions-item {
  /* width: calc((100% - 3 * 24px) / 4); */
  width: 100%;
}

.header-solutions {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.about-solutions {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

/* our-team */

.our-team {
  background: #f4f4fd;
}

.team-container > .header-solutions {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-container > .about-solutions {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.our-team > .container {
  padding-left: 28px;
  padding-right: 28px;
  width: 320px;
}

.header-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-team-items {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-container {
  padding: 32px 0;
  text-align: center;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.team-links-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 8px;
}
.team-links-item {
  width: 40px;
  height: 40px;
}
.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}
.team-link {
  background-color: #4d5ae5;
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link-icon {
  fill: #f4f4fd;
}

.team-link-wrapper {
}

.portfolio-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-content-wrap {
  position: relative;
  overflow: hidden;
}

.our-portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-portfolio-item:hover .our-portfolio-content {
  transform: translateY(0);
}

.our-portfolio-content {
  position: absolute;
  top: 0;
  background: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 288px;
  height: 280px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 40px;
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-img {
  /* width: 288px;
  height: 280px;
  flex-shrink: 0; */
}

.footer {
  height: 664px;
  background: #2e2f42;
  padding: 96px 0;
}

/* .footer-wrap {
  width: 1440px;
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
} */

.footer-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  /* max-width: 264px; */
  width: 288px;
}
.header-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.footer-logo {
}

.social-media-wrap {
  width: 208px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.footer-container-first {
  width: 288px;
  height: 112px;
  margin-bottom: 72px;
}

.social-media-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.social-link {
  background-color: #4d5ae5;
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background: #31d0aa;
}

.footer-container-third {
  width: 288px;
  height: 136px;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  /* width: 264px; */
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  margin: 0 auto;
  margin-bottom: 16px;
}

.footer-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-form {
  /* gap: 24px; */
  display: flex;
  flex-wrap: wrap;
}

.footer-icon {
  fill: #fff;
  margin-left: 16px;
}

/* Overlay */

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  /* width: 408px; */
  /* min-height: 584px; */
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.modal-close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-close-btn:focus,
.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:focus .modal-icon,
.modal-close-btn:hover .modal-icon {
  fill: #ffffff;
}

.overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-icon {
  fill: #2e2f42;
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-fieldd {
  margin-bottom: 24px;
}

.modal-label {
  font-family: "Roboto", sans-serif;
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.textarea-wrap {
  margin-bottom: 16px;
}
.modal-field-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-field-icon {
  fill: #4d5ae5;
}

.modal-input-wrap {
  position: relative;
}

.modal-text {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 120px;
  background-color: transparent;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-text:focus {
  border: 1px solid #4d5ae5;
}

.check-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.check-link {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  /* transform: translateX(20px); */
}

.fake-check-box {
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text .fake-check-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* .send {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
} */

@media screen and (min-width: 768px) {
  .header-wrap {
    padding: 0 15px;
  }

  .link-logo {
    margin-right: 76px;
  }

  .address {
    display: block;
  }

  .navigation-links-list {
    display: flex;
  }

  .menu-open {
    display: none;
  }

  .hero-main > .container {
    padding: 0px 136px;
  }

  .hero-main {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }

  @media screen and(min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (webkit-min-device-pixel-ration: 2) {
    .hero-main {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .header-one {
    margin-bottom: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }

  .section {
  }

  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .solutions-list {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
  .solutions-item {
    width: calc((100% - 1 * 24px) / 2);
    margin: 0px;
    padding: 0px;
  }
  .header-solutions {
    margin-bottom: 8px;
    text-align: left;
  }
  .about-solutions {
  }

  .our-team > .container {
    padding: 0 108px;
    width: 768px;
  }
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .our-team-items {
    width: calc((100% - 1 * 24px) / 2);
  }

  .our-portfolio-content {
    width: 356px;
    height: 300px;
  }

  .our-portfolio-item {
    width: calc((100% - 1 * 24px) / 2);
  }

  .our-portfolio-list {
    gap: 72px 24px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }

  .modal-input {
    width: 360px;
  }

  .modal-text {
    width: 360px;
  }

  .footer {
    padding: 96px 0px;
    /* padding: 100px 0; */
    height: 456px;
  }

  .footer-wrapper {
    display: flex;
    /* align-items: baseline; */
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .link-logo-footer {
    text-align: left;
  }
  .footer-container-first {
    margin-right: 24px;
    width: 264px;
    height: 112px;
  }

  .footer-subtitle {
    width: 264px;
  }

  .social-media-wrap {
    margin: 0;
    /* margin-right: 80px; */
  }

  .footer-container-third {
    min-width: 453px;
    height: 80px;
  }

  .footer-input {
    width: 264px;
    margin: 0;
    margin-right: 24px;
  }

  .subscribe {
    width: 165px;
    margin: 0;
  }

  .social-media {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .address {
    display: flex;
  }

  .hero-main {
    padding: 188px 0px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
  }

  @media screen and(min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (webkit-min-device-pixel-ration: 2) {
    .hero-main {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }

  .header-one {
    margin-bottom: 48px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .solutions-list {
    display: flex;
    gap: 24px;
  }
  .solutions-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .header-solutions {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .about-solutions {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .icon-wrap {
    display: flex;
  }

  .our-team > .container {
    padding: 0 15px;
    width: 1158px;
  }

  .our-team-list {
    display: flex;
    gap: 24px;
  }

  .our-team-items {
    width: calc((100% - 3 * 24px) / 4);
  }

  .our-portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .our-portfolio-content {
    width: 360px;
    height: 300px;
  }

  .our-portfolio-list {
    gap: 40px 24px;
  }
}
